<a href="https://colab.research.google.com/github/IBM-EPBL/IBM-Project-14069-1659540018/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic Python

## 1. Split this string

In [28]:
s = "Hi there Abbeer"

In [5]:
s.split()

['Hi', 'there', 'Abbeer']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [10]:
print("The diameter of {} is {} kilometers".format("Earth",12742))

The diameter of Earth is 12742 kilometers

## 3. In this nest dictionary grab the word "hello"

In [17]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [75]:
x=d['k1'][3]['tricky'][3]['target'][3]
print(x)

hello

# Numpy

In [10]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [22]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [24]:
np.ones(10)
np.ones(10)*5

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

## 5. Create an array of all the even integers from 20 to 35

In [27]:
np.arange(20,36,2)

array([20, 22, 24, 26, 28, 30, 32, 34])

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [30]:
x=np.arange(0,9).reshape(3,3)
print(x)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

## 7. Concatenate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [43]:
from re import A
a=np.arange(1,4)
b=np.arange(4,7)
print(a)
print(b)
con=np.concatenate((a,b),axis=0)
print(con)

[1 2 3]
[4 5 6]
[1 2 3 4 5 6]

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [46]:
import pandas as pd

In [51]:
lst_a = [['John', 23, 182,], ['Jane', 25, 179,], ['Mary', 21, 177, ]]
print(lst_a)
df = pd.DataFrame(lst_a)
print(df)

[['John', 23, 182], ['Jane', 25, 179], ['Mary', 21, 177]]
      0   1    2
0  John  23  182
1  Jane  25  179
2  Mary  21  177

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [54]:
import pandas
pandas.date_range("2023-01-01","2023-02-10")

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30', '2023-01-31', '2023-02-01',
               '2023-02-02', '2023-02-03', '2023-02-04', '2023-02-05',
               '2023-02-06', '2023-02-07', '2023-02-08', '2023-02-09',
               '2023-02-10'],
              dtype='datetime64[ns]', freq='D')

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [55]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [57]:
df = pd.DataFrame(lists, columns =['one digit', 'alpahabet','two digit'])
print(df)

   one digit alpahabet  two digit
0          1       aaa         22
1          2       bbb         25
2          3       ccc         24