# **Basic Python**

 *Name: Swethasree Sribabu*
 
 *Register Number: 311019104094*

## 1. Split this string

In [6]:
s = "Hi there Swetha!"

In [7]:
s.split()

['Hi', 'there', 'Swetha!']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [8]:
planet = "Earth"
diameter = 12742

In [9]:
print("The diameter of {} is {} kilometers".format("Earth",12742))

The diameter of Earth is 12742 kilometers

## 3. In this nest dictionary grab the word "hello"

In [10]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [11]:
x=d['k1'][3]['tricky'][3]['target'][3]
print(x)

hello

# Numpy

In [13]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [14]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [15]:
np.ones(10)
np.ones(10)*5

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

## 5. Create an array of all the even integers from 20 to 35

In [16]:
np.arange(20,36,2)

array([20, 22, 24, 26, 28, 30, 32, 34])

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [17]:
x=np.arange(0,9).reshape(3,3)
print(x)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

## 7. Concatenate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [18]:
from re import A
a=np.arange(1,4)
b=np.arange(4,7)
print(a)
print(b)
con=np.concatenate((a,b),axis=0)
print(con)

[1 2 3]
[4 5 6]
[1 2 3 4 5 6]

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [19]:
import pandas as pd

In [21]:
lst_a = [['Sam', 32, 170,], ['Tom', 40, 180,], ['Susan', 20, 200, ]]
print(lst_a)
df = pd.DataFrame(lst_a)
print(df)

[['Sam', 32, 170], ['Tom', 40, 180], ['Susan', 20, 200]]
       0   1    2
0    Sam  32  170
1    Tom  40  180
2  Susan  20  200

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [22]:
import pandas
pandas.date_range("2023-01-01","2023-02-10")

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30', '2023-01-31', '2023-02-01',
               '2023-02-02', '2023-02-03', '2023-02-04', '2023-02-05',
               '2023-02-06', '2023-02-07', '2023-02-08', '2023-02-09',
               '2023-02-10'],
              dtype='datetime64[ns]', freq='D')

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [23]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [24]:
df = pd.DataFrame(lists, columns =['one digit', 'alpahabet','two digit'])
print(df)

   one digit alpahabet  two digit
0          1       aaa         22
1          2       bbb         25
2          3       ccc         24